<%= turbo_stream_from "messages_channel" %>

<div class="mt-auto">
  <div class="flex flex-col gap-4 mb-12">
    <div id="messages" class="flex flex-col gap-4 overflow-auto">
      <%= render @dashboard[:messages] %>
    </div>
  </div>
</div>



