<h1><%= @user.username %></h1>

<p>Here's your weekly message activity report:</p>

<ul>
  <li>Total messages this week: <%= @total_messages %></li>
  <% if @last_sent_at %>
    <li>Your last message was sent: <%= DateTimePresenter.new(@last_sent_at).uk_formatted %></li>
    <li>Messages since your last sent message: <%= @messages_since_last %></li>
  <% else %>
    <li>You haven't sent any messages yet</li>
  <% end %>
</ul>
