<div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-xs sm:gap-x-6 sm:px-6 lg:px-8">
  <span class="text-xl font-bold text-primary sm:pl-0 pl-2 lg:hidden">Fonix</span>
  
  <div class="flex-1"></div>
  
  <div class="flex sm:pr-0 pr-2">
    <%= render "shared/auth_buttons" %>
  </div>
</div>