<section class="border-b border-gray-200">
  <div class="navbar container mx-auto bg-base-100">
    <div class="navbar-start text-xl font-bold text-primary sm:pl-0 pl-4">
      Fonix
    </div>
    <div class="navbar-center">
    </div>
    <div class="navbar-end sm:pr-0 pr-4">
      <%= render "shared/auth_buttons" %>
    </div>
  </div>
</section>
